@import url('reset.css');

.oo1, .oo4, .oo7{
	height: 50px;
	width: 50px;
	display: inline-block;
	background-size: contain;
	cursor: pointer;
	border-radius: 25px;
	background-color: #eee;
	transition: 0.2s linear background-color;
	margin: 0 10px;
}
.oo1:hover, .oo4:hover, .oo7:hover{
	background-color: #ccc;
}

.oo1{
	background-image: url("../images/001.png");
}
.oo4{
	background-image: url("../images/004.png");
}
.oo7{
	background-image: url("../images/007.png");
}

#poke-select{
	text-align: center;
	max-width: 400px;
	margin: auto;
	border-top: 1px solid black;
}

/* chat styles */
#chat{
	max-width: 400px;
	margin: auto;
}
#banter{
	border: 1px solid black;
}
#send-banter{
	text-align: center;
}
#send-banter input{
	width: 22%;
	text-align: left;
}
#send-banter input#bant{
	width: 75%;
}
.blue{
	color: blue;
}
.red{
	color: red;
}



